.loading {
  position: absolute;
  inset: 0;
  overflow: hidden;
  background: rgba(196, 110, 110, 0.603);

  display: grid;
  place-items: center;
  z-index: 200;
  color: white;
}

.loading img {
  width: 30%;
  aspect-ratio: 1;
}

.home {
  z-index: 1;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
}

.seeMore {
  background: transparent;
}
