@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,500&display=swap");

:root {
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-900: #111827;
  --rose-700: #be123c;

  --primary-font: "DM Sans", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: initial;
}
